# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Directories for build and output artifacts
dist/
build/

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
